<!DOCTYPE html>
<html>
  <head>
    <title>home</title>
    <link
      rel="icon"
      href="/Images/retail-computer-icons-e-commerce-sales-mega-offer-removebg-preview.png"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/login.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta http-equiv="refresh" content="1000" />
    <meta charset="UTF-8" />
    <meta name="description" content="Youssef'sWebsite" />
    <meta name="author" content="Youssef Ossama" />
    <meta name="keywords" content="Joe,Booster,store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
              <p>hello to my website</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
