<!DOCTYPE html>
<html>
  <head>
    <title>login</title>
    <link
      rel="icon"
      href="/Images/retail-computer-icons-e-commerce-sales-mega-offer-removebg-preview.png"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/login.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta http-equiv="refresh" content="1000" />
    <meta charset="UTF-8" />
    <meta name="description" content="Youssef'sWebsite" />
    <meta name="author" content="Youssef Ossama" />
    <meta name="keywords" content="Joe,Booster,store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <form method="POST" action="" class="box">
              <h1>Login</h1>
              <p class="text-muted">Please enter your login and password!</p>
              <input type="email" name="email" placeholder="email" />
              <input type="password" name="password" placeholder="Password" />
              <a class="forgot text-muted" href="#">Forgot password?</a>
              <input type="submit" name="" value="Login" href="#" />
              <div class="col-md-12">
                <ul class="social-network social-circle">
                  <li>
                    <a href="#" class="icoFacebook" title="Facebook"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="icoTwitter" title="Twitter"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                  <li>
                    <a href="#" class="icoGoogle" title="Google +"
                      ><i class="fab fa-google-plus"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
