<!DOCTYPE html>
<html>
  <head>
    <title>Registration</title>
    <link
      rel="icon"
      href="/Images/retail-computer-icons-e-commerce-sales-mega-offer-removebg-preview.png"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/css/login.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <meta http-equiv="refresh" content="1000" />
    <meta charset="UTF-8" />
    <meta name="description" content="Youssef'sWebsite" />
    <meta name="author" content="Youssef Ossama" />
    <meta name="keywords" content="Joe,Booster,store" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <form method="post" action="" class="box">
              <h1>Registration</h1>
              <input type="text" name="userName" placeholder="Username" />
              <input type="text" name="firstName" placeholder="first name" />
              <input type="text" name="lastName" placeholder="last name" />
              <input type="text" name="email" placeholder="email" />
              <input type="password" name="password" placeholder="Password" />
              <input type="password" name="confirmPassword" placeholder="confirm Password" />
              <% if(error){%>
                <p class="text-muted">
                <%= error %>
                </p>
              <%}%>
              <input type="submit" name="register" value="Register"/>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
